body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1px;
    width: 95vw;
    height: 100vh;

    grid-template-areas: 
    "item13 item13 item9 item9  item18 item1 item1 item20 item20 item15"
    "item13 item13 item5 item6  item6 item1 item1 item11 item3 item3"
    "item22 item22 item5 item6  item6 item8 item8 item11 item3 item3"
    "item7 item16 item16 item2 item2 item19 item14 item14 item21 item21"
    "item24 item24 item17 item2 item2 item4 item4 item23 item21 item21"
    "item24 item24 item17 item12 item12 item4 item4 item23 item10 item10"
    ;
}
.grid-item {
    border: 1px dashed black;
    background-color: #ececec;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: end;
}
.item1{
    grid-area: item1;
    background-color: #f7e9a0;
    font-size: 15vh;
}
.item2{
    grid-area: item2;
    background-color: #fcf4d1;
    font-size: 8vh;


}
.item3{
    grid-area: item3;
    background-color: #fcf4d1;
    font-size: 15vh;


}
.item4{
    grid-area: item4;
    background-color: #cddebb;
    font-size: 15vh;


}
.item5{
    grid-area: item5;
    background-color: #fcf4d1;
    font-size: 8vh;


}
.item6{
    grid-area: item6;
    background-color: #f8d9c5;
    font-size: 15vh;


}
.item7{
    grid-area: item7;
    background-color: #fcf4d1;
    font-size: 8vh;


}
.item8{
    grid-area: item8;
    background-color: #fcf4d1;
    font-size: 8vh;


}
.item9{
    grid-area: item9;
    background-color: #fcf4d1;
    font-size: 10vh;


}
.item10{
    grid-area: item10;
    background-color: #fcf4d1;
    font-size: 10vh;


}
.item11{
    grid-area: item11;
    background-color: #c6d8da;
    font-size: 10vh;


}
.item12{
    grid-area: item12;
    background-color: #fcf4d1;
    font-size: 10vh;


}

.item13{
    grid-area: item13;
    background-color: #cddebb;
    font-size: 15vh;


}
.item14{
    grid-area: item14;
    background-color: #fcf4d1;
    font-size: 10vh;


}
.item15{
    grid-area: item15;
    background-color: #f8d9c5;
    font-size: 10vh;


}
.item16{
    grid-area: item16;
    background-color: #fcf4d1;
    font-size: 10vh;


}
.item17{
    grid-area: item17;
    background-color: #fcf4d1;
    font-size: 10vh;


}

.item18{
    grid-area: item18;
    background-color: #c6d8da;
    font-size: 10vh;


}
.item19{
    grid-area: item19;
    background-color: #f8d9c5;
    font-size: 10vh;


}
.item20{
    grid-area: item20;
    background-color: #fcf4d1;
    font-size: 10vh;


}
.item21{
    grid-area: item21;
    background-color: #f7e9a0;
    font-size: 15vh;


}
.item22{
    grid-area: item22;
    background-color: #f7e9a0;
    font-size: 10vh;


}
.item23{
    grid-area: item23;
    background-color: #fcf4d1;
    font-size: 10vh;


}
.item24{
    grid-area: item24;
    background-color: #c6d8da;
    font-size: 15vh;


}
